.search {
  .searchBook {
    button {
      margin-left: 5px;
    }
  }
  .pagination{
    margin: auto;
    li{
      margin-right: 5px;
     a{
      cursor: pointer !important;
      &:hover{
        color: #007bff!important;
      }
     }
    }
  }
}
